.footer {
  margin-top: 88px;
  padding: 24px 0;
  background-color: #000;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 180%;
  text-transform: capitalize;
  color: var(--neutral-graycbcbcb);
}

.footer__copyright {
}

// 2.43.00
// https://www.youtube.com/watch?v=Us4n_3eUOxs&list=PL1NBhQGGj46agn4Q4urrYh6ruzd2yiARD